
<% @departaments.each do |departament|%>
  <%if departament.contacts.any? %>
    <b><p><%= departament.title%></p></b>
  <%end%>

  <%departament.contacts.each do |contact|%>
    <p id="contact_<%= contact.id %>" >
      <%=contact.name%>: 
      тел. <%= contact.telephone%>, email "<%= contact.email%>"
      <% if user_signed_in? && current_user.status == 1%>
        <%= link_to "Редактировать", edit_contact_path(contact)%>
        <%= link_to "Удалить", contact_path(contact.id), method: :delete, remote: true %>
      <%end%>
    </p>
  <%end%>
<%end%>

<div id="contacts"></div> <!-- элемент, в который мы будем добавлять таблицу -->




