<p id="notice"><%= notice %></p>

<h3>Контакты</h3>

<%@contacts.each do |contact|%>
<p><%= contact.name %>: тел. <%= contact.telephone%>, email "<%= contact.email%>" </p>
  <%if current_user.status == 1%>
    <%= link_to "Редактировать", edit_contact_path(contact)%>
    <%=link_to "Удалить", contact_path(contact), method: :delete, data: { confirm: 'Are you sure?' }%></p>
  <%end%>
<%end%>

<p><%= link_to 'Back', departaments_path %></p>

