<!DOCTYPE html>
<html class="background2" >
  <head>
    <title>Request</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <div>
    <div class="topnav">
      
      <div class="search-form">
          <%= text_field_tag :search, nil, placeholder: "Введите ФИО или email ..."%>
          <button onclick="search()">Поиск</button>
      </div>

      <div class="search-form">
        <%= form_tag departament_search_path, method: :get do %>
            <%= select_tag :search, 
            options_for_select([["Введите отдел", ""],["Oтдел снабжения", 1], ["Отдел кадров", 2],
             ["Архив", 3], ["Бухгалтерия", 4]]) %>
          <%= submit_tag "Search" %>
        <% end %>
      </div>
      
      <%=link_to "Главная", root_path, style: "margin-left: -80px"  %>
      <%=link_to "Заявки", feedbacks_path%>
      <%=link_to "Контакты", departaments_path %>
      
      <% if user_signed_in? && current_user.status == 1 %>
        <div style="display: inline-block; vertical-align: middle;"><%= button_to "Создать контакт", new_contact_path, method: :get %></div>
      <% end %>

      <%= link_to "Выйти", destroy_user_session_path, method: :delete, class:"align-right"%>

    </div>
   
    <p id="notice"><%= notice %></p>
    <p style="text-align: right; margin: 0"><%= link_to 'Экспортировать.xlsx', export_path(format: :xlsx) %></p>

    <div class="background">
      <body >
        
        <%= yield %>
      </body>
    <div>
  </div>
</html>
