<!DOCTYPE html>
<html class="background2" >
  <head>
    <title>Request</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <div>
    <div class="topnav">
      
      <div class="search-form">
          <%= text_field_tag :search %>
          <button onclick="search()">Поиск</button>
      </div>

      <%=link_to "Заявки", feedbacks_path, style: "margin-left: -80px" %>
      <%=link_to "Контакты", departaments_path %>
      
      <% if user_signed_in? && current_user.status == 1 %>
        <div style="display: inline-block; vertical-align: middle;"><%= button_to "Создать контакт", new_contact_path, method: :get %></div>
      <% end %>

      <%= link_to "Выйти", destroy_user_session_path, method: :delete, class:"align-right"%>

    </div>
   
    <div class="background">
      <body >
        <%= yield %>
      </body>
    <div>
  </div>
</html>
